body

{
   margin: 0px;
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 19px;
}

hr

{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;


}

h1

{
color: #66BFBF;
  margin-top: 0px;
font-family: 'Rubik Beastly', cursive;
 font-size: 5.625 rem ;
 margin: 50px auto 0px auto;

}


h2

{

  color: #66BFBF;
   margin-top: 0px;
   font-family: 'Be Vietnam Pro', sans-serif;
     font-size: 2.5 rem ;
     font-weight: normal;
     /*REM is dynamin font changing */
}


h3

{
color: #11999e;

}

.top-container

{
  background-color: #E4F9F5;
 position: relative;
 padding-top: 100px;


}

.p
{
  line-height: 2px;
}


/*TAG reference */

a
{
  color: #11999e;
  font-family:sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover
{
  color:#EAF6F6;

}

.middle-container

{

  margin: 100px 0px ;


}

.bottom-container

{

background-color: #66BFBF;
padding: 50px 0px 20px;

}

.bottom-cloud
{
  position: absolute;
  left: 250px;
  top:300px;
}

.top-cloud
{
  position: absolute;
  right: 300px;
  top:40px;
}


.pro
{
text-decoration: underline;
}

.myimg
{

margin: auto;
height: 200px;
  width:200px;
}


.datasci
{

  width: 20%;
  float: left;
  margin-right: 50px;
}

.itimg
{

margin-left: 30px;
float: right;
  width: 20%;
}

.skill-row
{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;

}

.Contact-msg

{
width: 40%;
margin: 40px auto 60px auto;

}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: ‘Mohave’, sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
